/* DEVELOPER: Sagar Anand, IS117-005, Fall 2019 */

/* Sections */

.title {
    font-family: "SansSerif";
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    max-width: 350px;
    margin: 30px 15px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.6);
}

.card:after {
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 50px;
    height: 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
    transition: width 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.18);
    content: "";
    display: block;
}

.card:hover:after {
    width: 100%;
}

/* Elements */

.title h3 {
    font-family: "sans-serif";
    text-transform: uppercase;
    letter-spacing: 2.6px;
    font-size: 12px;
    font-weight: 300;
    color: #999;
}

.title h1 {
    font-size: 38px;
    font-weight: 400;
    line-height: 0.1;
    padding-bottom: 20px;
}

hr {
    display: block;
    width: 80px;
    height: 1px;
    margin: 15px auto;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #0984e3;
    opacity: 0.7;
}

img {
    max-width: 350px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

img:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    outline: 0;
}

article a h2 {
    font-family: "sans-serif";
    color: #2d3436;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

article a h2:hover {
    color: #0984e3;
}

p {
    font-family: "sans-serif";
    color: #999;
    line-height: 1.8;
    font-weight: 300;
    font-size: 14px;
}

.card-more {
    padding-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.card-more a {
    color: #2d3436;
    line-height: 1.8;
    font-weight: 300;
    font-size: 16px;
}
